[submodule "bin/CxxTest"]
	path = bin/CxxTest
	url = https://github.com/textmate3/cxxtest.git
[submodule "vendor/Onigmo/vendor"]
	path = vendor/Onigmo/vendor
	url = https://github.com/textmate3/Onigmo.git
[submodule "vendor/kvdb/vendor"]
	path = vendor/kvdb/vendor
	url = https://github.com/textmate3/kvdb.git
