<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>encodings</key>
	<array>
		<dict>
			<key>code</key>
			<string>CP1046</string>
			<key>name</key>
			<string>Arabic – AIX</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP864</string>
			<key>name</key>
			<string>Arabic – DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-6</string>
			<key>name</key>
			<string>Arabic – ISO 8859-6</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACARABIC</string>
			<key>name</key>
			<string>Arabic – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1256</string>
			<key>name</key>
			<string>Arabic – Windows</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ARMSCII-8</string>
			<key>name</key>
			<string>Armenian – ARMSCII-8</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP922</string>
			<key>name</key>
			<string>Baltic Rim – AIX</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP775</string>
			<key>name</key>
			<string>Baltic Rim – DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-13</string>
			<key>name</key>
			<string>Baltic Rim – ISO Latin 7</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1257</string>
			<key>name</key>
			<string>Baltic Rim – Windows</string>
		</dict>
		<dict>
			<key>code</key>
			<string>KOI8-RU</string>
			<key>name</key>
			<string>Belarusian – KOI8-RU</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-14</string>
			<key>name</key>
			<string>Celtic – ISO Latin 8</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-2</string>
			<key>name</key>
			<string>Central European – ISO Latin 2</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-4</string>
			<key>name</key>
			<string>Central European – ISO Latin 4</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACCENTRALEUROPE</string>
			<key>name</key>
			<string>Central European – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1250</string>
			<key>name</key>
			<string>Central European – Windows Latin 2</string>
		</dict>
		<dict>
			<key>code</key>
			<string>GB18030</string>
			<key>name</key>
			<string>Chinese – GB18030</string>
		</dict>
		<dict>
			<key>code</key>
			<string>GBK</string>
			<key>name</key>
			<string>Chinese – GBK</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-2022-CN</string>
			<key>name</key>
			<string>Chinese – ISO-2022-CN</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-2022-CN-EXT</string>
			<key>name</key>
			<string>Chinese – ISO-2022-CN-EXT</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CN-GB</string>
			<key>name</key>
			<string>Chinese, Simplified – GB 2312</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CHINESE</string>
			<key>name</key>
			<string>Chinese, Simplified – GB 2312-80</string>
		</dict>
		<dict>
			<key>code</key>
			<string>GB_1988-80</string>
			<key>name</key>
			<string>Chinese, Simplified – GB_1988-80</string>
		</dict>
		<dict>
			<key>code</key>
			<string>HZ-GB-2312</string>
			<key>name</key>
			<string>Chinese, Simplified – HZ-GB-2312</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CN-GB-ISOIR165</string>
			<key>name</key>
			<string>Chinese, Simplified – ISO-IR-165</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP936</string>
			<key>name</key>
			<string>Chinese, Simplified – Windows, DOS GBK</string>
		</dict>
		<dict>
			<key>code</key>
			<string>BIG5</string>
			<key>name</key>
			<string>Chinese, Traditional – BIG5</string>
		</dict>
		<dict>
			<key>code</key>
			<string>BIG5-2003</string>
			<key>name</key>
			<string>Chinese, Traditional – BIG5-2003</string>
		</dict>
		<dict>
			<key>code</key>
			<string>BIG5-HKSCS:1999</string>
			<key>name</key>
			<string>Chinese, Traditional – BIG5-HKSCS:1999</string>
		</dict>
		<dict>
			<key>code</key>
			<string>BIG5-HKSCS:2001</string>
			<key>name</key>
			<string>Chinese, Traditional – BIG5-HKSCS:2001</string>
		</dict>
		<dict>
			<key>code</key>
			<string>BIG5-HKSCS:2004</string>
			<key>name</key>
			<string>Chinese, Traditional – BIG5-HKSCS:2004</string>
		</dict>
		<dict>
			<key>code</key>
			<string>EUC-TW</string>
			<key>name</key>
			<string>Chinese, Traditional – EUC-TW</string>
		</dict>
		<dict>
			<key>code</key>
			<string>DEC-HANYU</string>
			<key>name</key>
			<string>Chinese, Traditional – Tru64</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP950</string>
			<key>name</key>
			<string>Chinese, Traditional – Windows, DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACCROATIAN</string>
			<key>name</key>
			<string>Croatian – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP154</string>
			<key>name</key>
			<string>Cyrillic – CP154</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP855</string>
			<key>name</key>
			<string>Cyrillic – DOS Cyrillic 1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP866</string>
			<key>name</key>
			<string>Cyrillic – DOS Cyrillic 2</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-5</string>
			<key>name</key>
			<string>Cyrillic – ISO</string>
		</dict>
		<dict>
			<key>code</key>
			<string>KOI8-R</string>
			<key>name</key>
			<string>Cyrillic – KOI8-R</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACCYRILLIC</string>
			<key>name</key>
			<string>Cyrillic – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1251</string>
			<key>name</key>
			<string>Cyrillic – Windows</string>
		</dict>
		<dict>
			<key>code</key>
			<string>GEORGIAN-ACADEMY</string>
			<key>name</key>
			<string>Georgian – Academy</string>
		</dict>
		<dict>
			<key>code</key>
			<string>GEORGIAN-PS</string>
			<key>name</key>
			<string>Georgian – PS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP737</string>
			<key>name</key>
			<string>Greek – DOS Greek 1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP869</string>
			<key>name</key>
			<string>Greek – DOS Greek 2</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-7</string>
			<key>name</key>
			<string>Greek – ISO 8859-7</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACGREEK</string>
			<key>name</key>
			<string>Greek – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1253</string>
			<key>name</key>
			<string>Greek – Windows</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-8</string>
			<key>name</key>
			<string>Hebrew – ISO 8859-8</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACHEBREW</string>
			<key>name</key>
			<string>Hebrew – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP862</string>
			<key>name</key>
			<string>Hebrew – MS-DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP856</string>
			<key>name</key>
			<string>Hebrew – PC-DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1255</string>
			<key>name</key>
			<string>Hebrew – Windows</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP861</string>
			<key>name</key>
			<string>Icelandic – DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACICELAND</string>
			<key>name</key>
			<string>Icelandic – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>EUC-JP</string>
			<key>name</key>
			<string>Japanese – EUC-JP</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-2022-JP</string>
			<key>name</key>
			<string>Japanese – ISO-2022-JP</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-2022-JP-1</string>
			<key>name</key>
			<string>Japanese – ISO-2022-JP-1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-2022-JP-2</string>
			<key>name</key>
			<string>Japanese – ISO-2022-JP-2</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-IR-14</string>
			<key>name</key>
			<string>Japanese – ISO646-JP</string>
		</dict>
		<dict>
			<key>code</key>
			<string>JISX0201-1976</string>
			<key>name</key>
			<string>Japanese – JIS X 0201</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-IR-87</string>
			<key>name</key>
			<string>Japanese – JIS X 0208</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-IR-159</string>
			<key>name</key>
			<string>Japanese – JIS X 0212</string>
		</dict>
		<dict>
			<key>code</key>
			<string>SHIFT_JIS</string>
			<key>name</key>
			<string>Japanese – Shift JIS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>DEC-KANJI</string>
			<key>name</key>
			<string>Japanese – Tru64</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP932</string>
			<key>name</key>
			<string>Japanese – Windows Shift-JIS CP932</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP943</string>
			<key>name</key>
			<string>Japanese – Windows Shift-JIS CP943</string>
		</dict>
		<dict>
			<key>code</key>
			<string>EUC-KR</string>
			<key>name</key>
			<string>Korean – EUC-KR</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-2022-KR</string>
			<key>name</key>
			<string>Korean – ISO-2022-KR</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-IR-149</string>
			<key>name</key>
			<string>Korean – ISO-IR-149</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1361</string>
			<key>name</key>
			<string>Korean – JOHAB</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP949</string>
			<key>name</key>
			<string>Korean – Windows, DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1133</string>
			<key>name</key>
			<string>Laothian – CP1133</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MULELAO-1</string>
			<key>name</key>
			<string>Laothian – MULELAO-1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP865</string>
			<key>name</key>
			<string>Nordic – DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-10</string>
			<key>name</key>
			<string>Nordic – ISO Latin 6</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP860</string>
			<key>name</key>
			<string>Portuguese – DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-16</string>
			<key>name</key>
			<string>Romanian – ISO Latin 10</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACROMANIA</string>
			<key>name</key>
			<string>Romanian – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>KOI8-T</string>
			<key>name</key>
			<string>Tajik – KOI8-T</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1161</string>
			<key>name</key>
			<string>Thai – CP1161</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1162</string>
			<key>name</key>
			<string>Thai – CP1162</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-11</string>
			<key>name</key>
			<string>Thai – ISO 8859-11</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACTHAI</string>
			<key>name</key>
			<string>Thai – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-IR-166</string>
			<key>name</key>
			<string>Thai – TIS-620</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP874</string>
			<key>name</key>
			<string>Thai – Windows, DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP857</string>
			<key>name</key>
			<string>Turkish – DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-9</string>
			<key>name</key>
			<string>Turkish – ISO Latin 5</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACTURKISH</string>
			<key>name</key>
			<string>Turkish – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1254</string>
			<key>name</key>
			<string>Turkish – Windows</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-IR-230</string>
			<key>name</key>
			<string>Turkmen – TDS565</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1124</string>
			<key>name</key>
			<string>Ukrainian – AIX</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1125</string>
			<key>name</key>
			<string>Ukrainian – DOS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>KOI8-U</string>
			<key>name</key>
			<string>Ukrainian – KOI8-U</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACUKRAINE</string>
			<key>name</key>
			<string>Ukrainian – Mac OS</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-8</string>
			<key>name</key>
			<string>Unicode – UTF-8</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-8//BOM</string>
			<key>name</key>
			<string>Unicode – UTF-8 (BOM)</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-16BE//BOM</string>
			<key>name</key>
			<string>Unicode – UTF-16BE</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-16BE</string>
			<key>name</key>
			<string>Unicode – UTF-16BE (no BOM)</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-16LE//BOM</string>
			<key>name</key>
			<string>Unicode – UTF-16LE</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-16LE</string>
			<key>name</key>
			<string>Unicode – UTF-16LE (no BOM)</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-32BE//BOM</string>
			<key>name</key>
			<string>Unicode – UTF-32BE</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-32BE</string>
			<key>name</key>
			<string>Unicode – UTF-32BE (no BOM)</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-32LE//BOM</string>
			<key>name</key>
			<string>Unicode – UTF-32LE</string>
		</dict>
		<dict>
			<key>code</key>
			<string>UTF-32LE</string>
			<key>name</key>
			<string>Unicode – UTF-32LE (no BOM)</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1129</string>
			<key>name</key>
			<string>Vietnamese – AIX</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1163</string>
			<key>name</key>
			<string>Vietnamese – CP1163</string>
		</dict>
		<dict>
			<key>code</key>
			<string>TCVN</string>
			<key>name</key>
			<string>Vietnamese – TCVN</string>
		</dict>
		<dict>
			<key>code</key>
			<string>VISCII</string>
			<key>name</key>
			<string>Vietnamese – VISCII</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP1258</string>
			<key>name</key>
			<string>Vietnamese – Windows</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ATARI</string>
			<key>name</key>
			<string>Western – Atari ST</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP858</string>
			<key>name</key>
			<string>Western – DOS CP858</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP863</string>
			<key>name</key>
			<string>Western – DOS French Canadian</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP850</string>
			<key>name</key>
			<string>Western – DOS Latin 1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP852</string>
			<key>name</key>
			<string>Western – DOS Latin 2</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP853</string>
			<key>name</key>
			<string>Western – DOS Latin 3</string>
		</dict>
		<dict>
			<key>code</key>
			<string>CP437</string>
			<key>name</key>
			<string>Western – DOS Latin US</string>
		</dict>
		<dict>
			<key>code</key>
			<string>HP-ROMAN8</string>
			<key>name</key>
			<string>Western – HP-Roman8</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-1</string>
			<key>name</key>
			<string>Western – ISO Latin 1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-3</string>
			<key>name</key>
			<string>Western – ISO Latin 3</string>
		</dict>
		<dict>
			<key>code</key>
			<string>ISO-8859-15</string>
			<key>name</key>
			<string>Western – ISO Latin 9</string>
		</dict>
		<dict>
			<key>code</key>
			<string>MACROMAN</string>
			<key>name</key>
			<string>Western – Mac OS Roman</string>
		</dict>
		<dict>
			<key>code</key>
			<string>NEXTSTEP</string>
			<key>name</key>
			<string>Western – NeXTSTEP</string>
		</dict>
		<dict>
			<key>code</key>
			<string>RISCOS-LATIN1</string>
			<key>name</key>
			<string>Western – RISC OS Latin 1</string>
		</dict>
		<dict>
			<key>code</key>
			<string>WINDOWS-1252</string>
			<key>name</key>
			<string>Western – Windows</string>
		</dict>
	</array>
</dict>
</plist>
